


body {
  margin: 0;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
}


.rectangle-div {
  width: 100%;
  height: 788px;
  position: relative;
  background: linear-gradient(#f3c1c1, #ec464600);
}
.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  /* width: 50px; */
  padding: 20px;
}
.menu a {
  text-decoration: none;
  padding: 10px 20px;
  color: #191919;
  font-family: "Sofia Pro";
  position: relative;
}
.menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid indianred;
  transition: 0.4s linear;
}
.menu a:hover::before {
  width: 90%;
}
.app a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid;
  padding: 10px 20px;
  background-color: #f54748;
  border-radius: 20px;
  transition: 0.4s;
}
.app a:hover {
  background: black;
  border: 3px solid #f54748;
}
.aro {
  /* border: 2px solid; */
  width: 140px;
  height: 140px;
  margin-left: 250px;
  margin-top: -40px;
  max-width: 100%;
}
.aro img {
  width: 150px;
}
.arro {
  width: 200%;
  margin-left: 60px;
}
.people {
  /* border: 2px solid ; */
  height: 30px;
  width: 140px;
  /* margin-top: 100px; */
  margin-left: 50px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #f1c9c9;
}
.us h5 {
  font-family: "Inter";
  margin-left: 8px;
}
.box1 h1 {
  margin-top: 20px;
  margin-left: 50px;
  /* border: 2px solid; */
  width: 530px;
  height: 156px;
  font-size: 50px;
  /* line-height: 0%; */
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: left; */
  display: inline-block;
}
.serious {
  color: #f54748;
}
.delivery {
  color: #fdc55e;
}
.red {
  margin-top: -60px;
  margin-left: 140px;
}
.red img {
  width: 250px;
}
.paragraph {
  /* border: 2px solid; */
  width: 517px;
  height: 99px;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 26px;
  letter-spacing: -0.01em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #191919;
  text-align: left;
}
.search input {
  border: 2px solid;
  border-color: #c4c3c3;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 20px;
  width: 460px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchlogo {
  margin-top: 10px;
  margin-left: 10px;
}
.searchfood {
  margin-right: 260px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #979393;
}
.image2 {
  width: 40px;
  margin-top: 2px;
  margin-right: 5px;
}
.box2 {
  margin-top: 30px; /* border: 2px solid; */
  width: 400px;
  height: 40px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Downlode a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid; */
  padding: 10px 20px;
  background-color: #f54748;
  border-radius: 20px;
  transition: 0.4s;
}
.Downlode a:hover {
  background: #191919;
  border: 3px solid #f54748;
}
.Playbutton img {
  margin-top: 30px;
  margin-left: px;
}
.watchvideo a {
  font-size: 20px;
  color: #858080;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mainbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box3 {
  margin-top: 20px; /* border: 2px solid; */
  height: 450px;
  width: 480px;
}
.girl {
  /* border: 1px solid; */
  width: 70%;
  margin: auto;
  margin-top: 60px;
  border-radius: 1000px;
  background-color: #e91d1d;
}
.girl img {
  width: 100%;
  height: 100%;
  margin-top: -60px; /* height: 100%; */
}
.fireicon {
  margin-top: -395px;
  margin-left: 228px;
}
.fireicon img {
  width: 30px;
}
.line1 {
  margin-left: 290px;
  margin-top: 45px;
}
.line1 img {
  width: 30px;
}
.line2 {
  margin-left: 162px;
  margin-top: -35px;
}
.line2 img {
  width: 30px;
}
.smail {
  margin-left: 224px;
  margin-top: 4px;
}
.smail img {
  width: 47px;
}
.smail1 {
  margin-left: 269px;
  margin-top: -22px;
}
.smail1 img {
  width: 7px;
}
.smail2 {
  margin-left: 220px;
  margin-top: -17px;
}
.smail2 img {
  width: 7px;
}
.kothimbir {
  margin-left: 310px;
  margin-top: -110px;
}
.kothimbir img {
  width: 60px;
}
.ltalian {
  /* border: 2px solid; */
  height: 60px;
  width: 30%;
  margin-top: -30px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 15px;
}
.pizza {
  margin-top: 5px;
  margin-left: 6px;
 
}

.pizza img {
  width: 50px;
}
.reting {
  /* border: 2px solid; */
  height: 50px;
  width: 180px;
  margin-left: 335px;
  margin-top: -40px;
  background-color: #fff;
  border-radius: 30px;
}
.happy {
  margin-left: 55px;
  margin-top: -35px;
}
.happy img {
  width: 110px;
}
.review {
  margin-left: 70px;
  margin-top: -3px;
}
.review img {
  width: 80px;
}
.aro1 {
  /* border: 2px solid; */
  margin-left: 400px;
  margin-top: -215px;
}
.aro2 {
  /* border: 1px solid; */
  margin-left: 500px;
  margin-top: -190%;
}
.chikan {
  /* border: 2px solid; */
  width: 100px;
  height: 100px;
  margin-left: 350px;
  margin-top: -20px;
}
.vejis {
  margin-left: 220px;
  margin-top: -45px;
  width: 140px;
}
.vejis2 {
  width: 155px;
  margin-top: -170px;
  margin-left: 80px;
}
.panir {
  width: 150px;
  margin-top: -390px;
  margin-right: 60px;
}
.slider {
  margin-top: 100px;
  margin-left: 90px;
}
.heading {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.special {
  color: #e91d1d;
}
.heading img {
  margin-right: 1200px;
  margin-top: -110px;
}
.order-box {
  margin-top: -80px;
  width: 90%; /* border: 2px solid; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  width: 240px;
  height: 350px;
  background: linear-gradient(#c5c5c500, #e29292);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img-box {
  position: relative;
}
.img-box img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}
.price {
  position: absolute;
  bottom: 10px;
  right: 35px;
  background: #ffca55;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}
.rating {
  margin: 10px 0;
}
.u {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -8px;
  border: 2px solid #fff;
}
.star {
  margin-left: 10px;
  font-weight: 600;
}
.kebab {
  color: #ff4a4a;
  margin: 10px 0 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.para {
  font-size: 13px;
  color: #555;
}
.button {
  text-decoration: none;
  background: #ff4a4a;
  padding: 10px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s;
}
.button:hover {
  background-color: #191919;
  border: 2px solid #ff4a4a;
}
.green {
  /* border: 2px solid; */
  margin-left: 400%;
}
#box-3 {
  /* border: 2px solid; */
  width: 90%;
  margin: auto;
  height: 500px; /* display: grid; */ /* grid-template-columns: repeat(2,1fr); */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.shef {
  /* border: 2px solid red; width: 30%; */
  height: 100%;
  border-radius: 100%;
}
.shef img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.shef-2 {
  /* border: 1px solid; */
  width: 40%;
  height: 90%;
}
.shef-h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  width: 100%;
  height: 30%; /* border: 1px solid red; */
}
.more {
  color: #e91d1d;
}
.multiple {
  color: #fdc55e;
}
.shef-p {
  /* border: 1px solid purple; */
  width: 100%;
  height: 18%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}
.shef-online {
  width: 100%;
  height: 51%; /* border: 1px solid orangered; */
  display: flex;
}
.shef-teble {
  /* border: 1px solid blue; */
  width: 50%;
}
.shef-teble2 {
  /* border: 1px solid blue; */
  width: 50%;
}
#product {
  /* border: 2px solid; */
  width: 100%;
  height: 150%;
  margin-top: 70px;
}
.name {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.menu {
  color: #e91d1d;
}
.always {
  color: #fdc55e;
}
.lunch-type {
  width: 80%;
  height: 50px; /* border: 1px solid red; */
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.lunch-type a {
  text-decoration: none;
  color: #979393;
  border: 2px solid rgb(20, 20, 20);
  padding: 15px 30px;
  border-radius: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.4s;
}
.lunch-type a:hover {
  background: #e91d1d;
  color: #fff;
}
#box-5 {
  /* border: 2px solid; */
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px;
}
.box-5-text {
  /* border: 1px solid red; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.more-easy {
  color: #e91d1d;
}
.order {
  color: #ffca55;
}
.box-5-text p {
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.box-5-text a {
  text-decoration: none;
  padding: 10px;
}
.box-5-img {
  /* border: 1px solid blue; */
}
.box-5-img div {
  /* border: 2px solid; */
  width: 50%;
  height: 90%;
  margin-left: 50px;
  margin-top: 20px;
}
.box-5-img div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#box-6 {
  /* border: 2px solid; */
  width: 95%;
  height: 280px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.Foodhut {
  /* border: 1px solid red; */
}
.Foodhut h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e91d1d;
  font-size: 30px;
}
.Foodhut p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.Foodhut a {
  text-decoration: none;
}
.Foodhut a img {
  width: 100px;
}
.about-us {
  /* border: 1px solid blue; */
}
.about-us h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #e91d1d;
}
.about-us p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.company {
  /* border: 1px solid orangered; */
}
.company h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #e91d1d;
}
.company p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.get-in-touch {
  /* border: 1px solid green; */
}
.get-in-touch h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #e91d1d;
}
.get-in-touch p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
.get-in-touch input {
  font-size: 15px;
  background-color: #b3b0b0;
  border-radius: 20px;
  padding: 10px 8px;
}
.get-in-touch a {
  padding: 10px 15px;
  text-decoration: none;
  background-color: #e91d1d;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  border-radius: 20px;
  transition: 0.4s;
}
.get-in-touch a:hover {
  background-color: #140f0f;
  border: 2px solid #e91d1d ;
}
